* {
    box-sizing: border-box;
}

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    --color-dark-blue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--color-light-gray);
    font-family: "Outfit", sans-serif;
    font-size: 15px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.card {
    width: 280px;
    height: 440px;
    padding: 15px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.card img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.card .caption {
    width: 220px;
    text-align: center;
}

.card .title {
    color: var(--color-dark-blue);
    font-weight: 700;
}

.card .discription {
    color: var(--color-grayish-blue);
    font-weight: 400;
}